#head{
    margin: 30px;
    display: flex;
    justify-content: center;
    color:yellow;
    font-size: 34px;
    text-align: center;
    font-weight: 200;
    font-display:inherit;
    
}
@font-face{
    font-family: 'Gameofsquids';
       src: url('./Fonts/game_of_squids-webfont.woff') format('woff');
}
h1{
    font-family:'Gameofsquids' ,serif ;
}
#he{
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    display: flex;
    color:violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    margin: 50px;
}