#head{
    margin: 30px;
    display: flex;
    justify-content: center;
    color:cadetblue;
    font-size: 34px;
    text-align: center;
    font-weight: 200;
    font-display:inherit;
    
}
@font-face{
    font-family: 'Gameofsquids';
       src: url('./Fonts/game_of_squids-webfont.woff') format('woff');
}
h1{
    font-family:'Gameofsquids' ,serif ;
}